{% extends "master.html" %}

{% block content %}
<section class="hero">
  <div class="hero-info">
    <span class="badge">Administración Web</span>

    <h1>Gestión de Edificios y Departamentos</h1>

    <p>
      Accede al panel de control para administrar los registros de tus edificios residenciales o comerciales y los departamentos asociados a ellos.
    </p>

    <div class="hero-buttons">
      <a href="{{ url_for('los_edificios') }}" class="btn primary">Ver Edificios</a>
      <a href="{{ url_for('los_departamentos') }}" class="btn secondary">Ver Departamentos</a>
    </div>
  </div>

  <div class="hero-box">
    <span class="mini-badge">Atajo rápido</span>
    <h2>Crear</h2>
    <p>
        <a href="{{ url_for('crear_edificio') }}" style="color:white; text-decoration: underline;">Nuevo Edificio</a><br><br>
        <a href="{{ url_for('crear_departamento') }}" style="color:white; text-decoration: underline;">Nuevo Departamento</a>
    </p>
  </div>
</section>

<section class="cards-section">
  <h2><span>+</span> Funciones Disponibles</h2>

  <div class="cards">
    <article class="card">
      <span class="icon">🏢</span>
      <h3>Control de Edificios</h3>
      <p>Registra nombre, dirección, ciudad y el tipo de establecimiento.</p>
    </article>

    <article class="card">
      <span class="icon">🏠</span>
      <h3>Departamentos</h3>
      <p>Administra propietarios, costos, cuartos y vincúlalos a un edificio.</p>
    </article>

    <article class="card">
      <span class="icon">🔒</span>
      <h3>Seguridad</h3>
      <p>Conexión segura vía API REST usando Token de autenticación.</p>
    </article>
  </div>
</section>
{% endblock %}